altair                   
attrs           
blinker               
cachetools              
certifi                  
charset-normalizer       
click                  
gitdb                    
GitPython               
idna                    
Jinja2                  
jsonschema             
jsonschema-specifications
markdown-it-py           
MarkupSafe               
mdurl                     
narwhals                  
numpy                    
packaging                
pandas                   
pillow                    
pip                       
protobuf                  
pyarrow                   
pydeck                   
Pygments               
python-dateutil        
pytz                    
PyYAML                   
referencing               
requests                  
rich                      
rpds-py                  
setuptools               
six                    
smmap                    
streamlit                 
streamlit-calendar       
tenacity                 
toml                      
tornado                  
typing_extensions         
tzdata                   
urllib3                  
watchdog                 
